[submodule "externals/floodlight"]
	path = externals/floodlight
	url = git://github.com/bmistree/floodlight.git
[submodule "externals/ralph"]
	path = externals/ralph
	url = git://github.com/bmistree/ralph.git
